<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}.3</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Fyfe Software Inc.</author>
	<description>
			${project.parent.description}
	</description>

	<activator>${project.parent.groupId}.openhie.client.HealthInformationExchangeClientActivator</activator>
	
	<!-- <updateURL>https://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->
	
	<require_version>${openMRSVersion}</require_version>
	
	<require_modules>
		<require_module version="0.5.0">
			org.openmrs.module.shr-atna
		</require_module>
																		
	</require_modules>

	<mappingFiles>
		ExtendedOrders.hbm.xml
	</mappingFiles>
		
	<!-- Extensions -->
	<extension>
		<point>org.openmrs.patientDashboardTab</point>
		<class>${project.parent.groupId}.openhie.client.extension.html.DocumentConsumerTab</class>
	</extension>
<!-- 	<extension>
		<point>org.openmrs.patientDashboardTab</point>
		<class>${project.parent.groupId}.openhie.client.extension.html.VaccinationInformationTab</class>
	</extension>-->
	<extension>
		<point>org.openmrs.gutter.tools</point>
		<class>${project.parent.groupId}.openhie.client.extension.html.HealthInformationExchangeLink</class>
	</extension>
	
	<advice>
		 <point>org.openmrs.api.PatientService</point>
		 <class>${project.parent.groupId}.openhie.client.aop.PatientUpdateAdvice</class>
	</advice>
	<!-- AOP
	<advice>
		<point>org.openmrs.api.FormService</point>
		<class>@MODULE_PACKAGE@.advice.DuplicateFormAdvisor</class>
	</advice>
	 /AOP -->
	
	
	<!-- Required Privileges 
	<privilege>
		<name>Form Entry</name>
		<description>Allows user to access Form Entry pages/functions</description>
	</privilege>
	 /Required Privileges -->


	<!-- Required Global Properties 
	<globalProperty>
		<property>@MODULE_ID@.someProperty</property>
		<defaultValue></defaultValue>
		<description>
			A description of the global property goes here.  The description
			should explain enough for administrators to understand the purpose
			and possible values for the global property.
		</description>
	</globalProperty>
	/Required Global Properties -->
	<globalProperty>
		<property>shr-cdahandler.autocreate.concepts</property>
		<defaultValue>true
		</defaultValue>
		<description>When true, indicates that SHR should automatically create new concepts, concept answers, sets, etc. to match inbound CDA document</description>
	</globalProperty>
	<globalProperty>
		<property>shr-cdahandler.autocreate.locations</property>
		<defaultValue>true
		</defaultValue>
		<description>When true, indicates that the SHR should automatically create locations from inbound CDA data</description>
	</globalProperty>
	<globalProperty>
		<property>shr-cdahandler.autocreate.metaData</property>
		<defaultValue>true
		</defaultValue>
		<description>When true, indicates that the SHR should automatically create metaData (encounter types, visit types, attribute types, etc.) to match the inbound CDA document.</description>
	</globalProperty>
	<globalProperty>
		<property>shr-cdahandler.autocreate.patients.idtype</property>
		<defaultValue>true
		</defaultValue>
		<description>When true, indicates that the SHR should automatically create Patient Identifier Types</description>
	</globalProperty>
	<globalProperty>
		<property>shr-cdahandler.autocreate.patients</property>
		<defaultValue>true
		</defaultValue>
		<description>When true, indicates that the SHR should automatically create new patients based on data in the inbound CDA document and should update any data for those patients based on data in the inbound CDA.</description>
	</globalProperty>
	<globalProperty>
		<property>shr-cdahandler.autocreate.persons</property>
		<defaultValue>true
		</defaultValue>
		<description>When true, indicates that the SHR should automatically create new persons based on the data in the inbound CDA document</description>
	</globalProperty>
	<globalProperty>
		<property>shr-cdahandler.autocreate.users</property>
		<defaultValue>true
		</defaultValue>
		<description>When true, indicates the SHR should automatically create users to be assigned to creator/updator roles for created data in the OpenMRS database</description>
	</globalProperty>
	<globalProperty>
		<property>shr-cdahandler.autocreate.providers</property>
		<defaultValue>true
		</defaultValue>
		<description>When true, indicates the SHR should automatically create providers based on data found in the inbound CDA document</description>
	</globalProperty>
	<globalProperty>
		<property>shr-cdahandler.id.format</property>
		<defaultValue>%2$s^^^&amp;%1$s&amp;ISO</defaultValue>
		<description>Identifies the string representation of instance identifier from the CDA document. %1$s = Root (or domain) and %2$s = Extension (or identifier)</description>
	</globalProperty>
	<globalProperty>
		<property>shr-cdahandler.validation.cda</property>
		<defaultValue>true  
		</defaultValue>
		<description>When true, indicates the SHR should more strictly validate inbound CDA documents to conformance rules prior to processing</description>
	</globalProperty>
	<globalProperty>
		<property>shr-cdahandler.validation.conceptStructure</property>
		<defaultValue>true
		</defaultValue>
		<description>When true, indicates that the SHR should validate that a sub-observation within the CDA is an allowed concept within its parent</description>
	</globalProperty>
	<globalProperty>
		<property>shr.id.epidRoot</property>
		<defaultValue>1.2.3.4.5.6.7
		</defaultValue>
		<description>Identifies the root of jurisdictional identifiers to use when creating/looking for providers</description>
	</globalProperty>
	<globalProperty>
		<property>shr.id.ecidRoot</property>
		<defaultValue>1.2.3.4.5.6.8
		</defaultValue>
		<description>Identifies the root of jurisdictional identifiers to use when creating/looking for patients</description>
	</globalProperty>
	<globalProperty>
		<property>shr.id.root</property>
		<defaultValue>1.2.3.4.5.6.9
		</defaultValue>
		<description>Identifies the root which should be attached to all observations, orders, allergies, etc. in this SHR instance (used for detecting duplicates)</description>
	</globalProperty>
	<globalProperty>
		<property>shr-cdahandler.updateExisting</property>
		<defaultValue>false
		</defaultValue>
		<description>When true, instructs the SHR to update any existing data carrying the same ID as the inbound CDA document. The default is false, meaning the SHR will return an error when duplicate statements are included in the document (see PCC TF-2 for the proper way to replace data)</description>
	</globalProperty>
	
	<globalProperty>
		<property>${project.parent.artifactId}.endpoint.pdq</property>
		<defaultValue>localhost
		</defaultValue>
		<description>Indicates the endpoint on which PDQ messages should be routed</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.endpoint.pdq.port</property>
		<defaultValue>2100
		</defaultValue>
		<description>Indicates the port on which PDQ messages should be routed</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.endpoint.pix</property>
		<defaultValue>localhost
		</defaultValue>
		<description>Indicates the endpoint on which PIX messages should be routed</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.endpoint.pix.port</property>
		<defaultValue>2100
		</defaultValue>
		<description>Indicates the port on which PIX messages should be routed</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.endpoint.xds.registry</property>
		<defaultValue>http://localhost:8080/xdsregistry
		</defaultValue>
		<description>Indicates the endpoint on which XDS Registry messages should be routed</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.endpoint.xds.repository</property>
		<defaultValue>http://localhost:8080/xdsrepository
		</defaultValue>
		<description>Indicates the port on which XDS Repository messages should be routed</description>
	</globalProperty>
	
	
	
	<!--
	<dwr>
		<allow>
			<create creator="new" javascript="DWRFormEntryService">
				<param name="class" value="org.openmrs.module.@MODULE_ID@.web.DWRFormEntryService"/>
				<include method="enterForm"/>
			</create>
		</allow>

		<signatures>
			<![CDATA[
			import @MODULE_PACKAGE@.web.DWRFormEntryService;
			DWRFormEntryService.enterForm(Integer patientId, Integer formId, boolean useEncounter, List<String> fields);
			]]>
		</signatures>	
	</dwr>
	-->
	
	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name> 
	<servlet>
		<servlet-name>formDownload</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.FormDownloadServlet</servlet-class>
	</servlet>
	-->
	<!-- /Servlets -->
	
	
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	
</module>

