connection.url=jdbc:mysql://{{ .Env.MYSQL_HOST }}:{{ .Env.MYSQL_PORT }}/{{ .Env.OPENMRS_DATABASE }}?autoReconnect=true&default_storage_engine=InnoDB&useUnicode=true&characterEncoding=UTF-8
module.allow_web_admin=true
connection.username={{ .Env.MYSQL_USER }}
auto_update_database=true
connection.password={{ .Env.MYSQL_PASSWORD }}
application_data_directory={{ .Env.OPENMRS_HOME }}
